section {
  width: 100%;
  height: 100vh;
  padding: 50px;

  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.box {
  width: 50rem;
}

.item {
  display: flex;
  justify-content: space-between;
  background-color: rgb(117, 116, 115);
  padding: 20px;
  cursor: pointer;
}

h2 {
  font-size: 40px;
}

span {
  font-size: 40px;
}

.content {
  font-size: 18px;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.showContent {
  font-size: 19px;
  padding: 20px;
  height: 100px;
  overflow: visible;
  transition: all 0.4s ease;
  background-color: rgba(248, 165, 22, 0.83);
  margin-top: 10px;
  border-radius: 10px;
}
